.bdy{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.square{
    width: 30vw;
    height: 17vw;
    border-radius: 2vh;
    background-size: cover;
    margin-bottom:2vw;
    margin-top: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    border-style: solid;
    border-color: #B79257;
    border-width: .3vw;

    
}

.squareText{
    padding-left: 1vw;
    width: 30vw;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom:1vh;
    margin-top: 1vh;
    font-size:calc(1em+1vw);
}

.trysquare{
    width: 35vw;
    height: 7vw;
    border-radius: 2vh;
    background-color: #8A1538;
    border-style: solid;
    border-color: #B79257;
    color: white;
    font-size: 3vw;
    border-width: .5vw;
    margin: 2vw;

}