<!-- Cuando termines de hacer el footer, borras todo y solamente dejas la parte del footer sola.
Para que veas lo que debe quedar, ve el archivo de navbar.ejs, solamente eso. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <%- include('./head'); %>

    <!-- Titulo -->
    <title>Footer</title>

    <!-- CSS utilizado solo para Footer -->

</head>
<body>
    <!-- Navbar -->
    <header>
        <%- include('./navbar'); %>
    </header>

    <!-- Footer -->
    <!-- Al final vas a borrar todo menos lo que este dentro de aqui, y
    los CSS que utilizaste van a ir en el archivo head.ejs, ahi esta un
    apartado para los CSS del footer, ahi los pones. Si tienes duda le
    dices a Alan :) -->
    <footer>
        
    </footer>


    
</body>
</html>
