<!-- Footer -->
<div class="footer-backround footer mt-auto py-3 d-flex flex-row container-fluid">
    <div class="me-3"><img src="/views/assets/UP_logo_2.png" alt="" width="200rem"></div>
    <div class="footer-text">
        <p> Av. Josemaría Escrivá de Balaguer #101<br>
            Fracc. Villas Bonaterra<br>
            C.P. 20296<br>
            Aguascalientes, Ags. México<br>
            Conmutador: +52 449 910 6200<br>
            Ext. 7100<br>
            <a class="footer-links" href="#">Mapa del campus</a><br>
            <a class="footer-links" href="#">Aviso de Privacidad</a>
            </p>
        <hr style="background-color: #B79257;">
        <p>
            Derechos reservados © CENTROS CULTURALES DE MÉXICO A. C.
        </p>
    </div>
</div>