<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <%- include('./head'); %>

    <!-- Titulo -->
    <title>Inicio</title>

    <!-- CSS utilizado solo para Inicio -->

</head>
<body>
    <!-- Navbar -->
    <header>
        <%- include('./navbar'); %>
    </header>

    
    <!-- Home Inicio -->

    <!-- Home Final -->



    <!-- Footer -->
    <footer>
        
    </footer>


    
</body>
</html>
