<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <%- include('./head'); %>

    <!-- Titulo -->
    <title>¿Cómo reservar?</title>

    <!-- CSS utilizado solo para Como Reservar -->
    <link rel="stylesheet" href="/views/css/how_to_reserve.css" type="text/css">
    

</head>
<body>
    <!-- Navbar -->
    <header>
        <%- include('./navbar'); %>
    </header>

    
    <!-- ComoReservar Inicio -->
    <section style="margin-top: 2vw;">
        
        <div class="bdy">

            <div style="align-items: center;">
                <div class="square" style="background-color:gray;" id="1" >
                </div>
                <div class="squareText">
                    <h5>Paso numero  1 </h5>
                    <p>Selecciona la cancha en la pagina de inicio</p>
                </div>
            </div>

            <div style="align-items: center;">
                <div class="square" style="background-color:gray;" id="2">
                </div>
                <div class="squareText" >
                    <h5>Paso numero 2 </h5>
                    <p>Ingresa tu id y contraseña en los campos</p>
                </div>
            </div>

            <div style="align-items: center;" >
                <div class="square" style="background-color:gray;" id="3"></div>
                <div class="squareText" >
                    <h5>Paso numero 3 </h5>
                    <p>Selecciona la fecha y el horario de reserva</p>
                </div>
            </div>
        </div>

        <div class="bdy">
            
            <div style="align-items: center;">
                <div class="square" style="background-color:gray;" id="4"></div>
                <div class="squareText" >
                    <h5>Paso numero 4 </h5>
                    <p>Envia tu solicitud</p>
                </div>
            </div>

            <div style="align-items: center;">
                <div class="square" style="background-color:gray;" id="5"></div>
                <div class="squareText">
                    <h5>Paso numero 5 </h5>
                    <p>Recibe la confirmación de reserva</p>
                </div>
            </div>

        </div>

    </section>
    <!-- ComoReservar Final -->
    <section>
        <center>
           <div><a href="/"  style="text-decoration: none;"> <div class="trysquare" id="btn">Reservar una cancha</div></a></div> <!--Falta definir a donde va a mandar el boton-->
        </center>
    </section>


    <!-- Footer -->
    <footer>
        <%- include('./footer'); %>
    </footer>

    <script src="/views/js/howToReserve.js"></script>

</body>
</html>
