<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <%- include('./head'); %>

    <!-- Titulo -->
    <title>¿Cómo reservar?</title>

    <!-- CSS utilizado solo para Como Reservar -->
    <link rel="stylesheet" href="/views/css/how_to_reserve.css" type="text/css">
    

</head>
<body>
    <!-- Navbar -->
    <header>
        <%- include('./navbar'); %>
    </header>

    
    <!-- ComoReservar Inicio -->
    <section style="margin-top: 2vw;">
        
        <div class="bdy">

            <div style="align-items: center;">
                <div class="square" style="background-image: url('/views/assets/How_To_Reserve/Step1.png');" id="1" >
                </div>
                <div class="squareText">
                    <h5>Paso numero  1 </h5>
                    <p>Selecciona inicar sesion en la pagina principal</p>
                </div>
            </div>

            <div style="align-items: center;">
                <div class="square" style="background-image: url('/views/assets/How_To_Reserve/Step2.png');" id="2">
                </div>
                <div class="squareText" >
                    <h5>Paso numero 2 </h5>
                    <p>Inicia sesion con tu cuenta de la universidad</p>
                </div>
            </div>

            <div style="align-items: center;" >
                <div class="square" style="background-image: url('/views/assets/How_To_Reserve/Step3.png');" id="3"></div>
                <div class="squareText" >
                    <h5>Paso numero 3 </h5>
                    <p>Selecciona la cancha que quieres reservar</p>
                </div>
            </div>
        </div>

        <div class="bdy">
            
            <div style="align-items: center;">
                <div class="square" style="background-image: url('/views/assets/How_To_Reserve/Step4.png');" id="4"></div>
                <div class="squareText" >
                    <h5>Paso numero 4 </h5>
                    <p>Revisa los horarios disponibles en el calendario</p>
                </div>
            </div>

            <div style="align-items: center;">
                <div class="square" style="background-image: url('/views/assets/How_To_Reserve/Step5.png');" id="5"></div>
                <div class="squareText">
                    <h5>Paso numero 5 </h5>
                    <p>Llena los campos y envia tu solicitud</p>
                </div>
            </div>

        </div>

    </section>
    <!-- ComoReservar Final -->
    <section>
        <center>
           <div><a href="/"  style="text-decoration: none;"> <div class="trysquare" id="btn">Reservar una cancha</div></a></div> <!--Falta definir a donde va a mandar el boton-->
        </center>
    </section>


    <!-- Footer -->
    <footer>
        <%- include('./footer'); %>
    </footer>

    <script src="/views/js/howToReserve.js"></script>

</body>
</html>
