<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <%- include('./head'); %>

    <!-- Titulo -->
    <title>Links a todas las páginas</title>

</head>
<body>
    <!-- Navbar -->
    <header>
        <%- include('./navbar'); %>
    </header>

    
    <!-- Links Inicio -->
        <h3><a href="/Inicio">Inicio</a></h3>
        <h3><a href="/Reservaciones">Reservaciones</a></h3>
        <h3><a href="/IniciarSesion">Iniciar Sesión</a></h3>
        <h3><a href="/CerrarSesion">Cerrar Sesion</a></h3>
        <h3><a href="/MasInfo">Más información</a></h3>
        <h3><a href="/ComoReservar">¿Cómo reservar una cancha?</a></h3>
        <h3><a href="/FailedLogin">Error</a></h3>
    <!-- Links Final -->



    <!-- Footer -->
    <footer>
        <%- include('./footer'); %>
    </footer>


    
</body>
</html>
