<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <%- include('./head'); %>

    <!-- Titulo -->
    <title>Links a todas las páginas</title>

</head>
<body>
    <!-- Navbar -->
    <header>
        <%- include('./navbar'); %>
    </header>

    
    <!-- Links Inicio -->
        <h3><a href="http://localhost:3000/Inicio">Inicio</a></h3>
        <h3><a href="http://localhost:3000/Reservaciones">Reservaciones</a></h3>
        <h3><a href="http://localhost:3000/IniciarSesion">Iniciar Sesión</a></h3>
        <h3><a href="http://localhost:3000/Registrarse">Registrarse</a></h3>
        <h3><a href="http://localhost:3000/MasInfo">Más información</a></h3>
        <h3><a href="http://localhost:3000/ComoReservar">¿Cómo reservar una cancha?</a></h3>
    <!-- Links Final -->



    <!-- Footer -->
    <footer>
        
    </footer>


    
</body>
</html>