<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <%- include('./head'); %>

    <!-- Titulo -->
    <title>Iniciar Sesión</title>

    <!-- CSS utilizado solo para Login -->

</head>
<body>
    <!-- Navbar -->
    <header>
        <%- include('./navbar'); %>
    </header>

    
    <!-- Login Inicio -->

    <!-- Login Final -->



    <!-- Footer -->
    <footer>
        <%- include('./footer'); %>
    </footer>


    
</body>
</html>
