<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <%- include('./head'); %>

    <!-- Titulo -->
    <title>Más información</title>

    <!-- CSS utilizado solo para Mas informacion -->
    <link rel="stylesheet" href="/views/css/more_info.css" type="text/css">


</head>
<body>
    <!-- Navbar -->
    <header>
        <%- include('./navbar'); %>
    </header>

    
    <!-- Mas informacion Inicio -->
    <section>
        <div class="campus">
            <div class="h5t">Puedes encontrar nuestras oficinas en el edificio de idiomas y deportes</div>
            <div class="campusImag" id="campusImag"></div>
            
        </div>
    </section>
    <section class="section2">
        <div class="bdy">
            <div class="square">
                <p><b>Baloncesto</b><br/>
                Uso de la cancha<br/><br/>
                Equipo disponible:<br/>
                -Platos/Conos<br/>
                -Balones<br/><br/>
                Horarios:<br/>
                9:00-19:00
                </p>
            </div>
            <div class="square">
                <p><b>Futbol</b><br/>
                Uso de la cancha<br/><br/>
                Equipo disponible:<br/>
                -Platos/Conos<br/>
                -Balones<br/><br/>
                Horarios:<br/>
                9:00-19:00
                </p>
            </div>
            <div class="square">
                <p><b>Padel</b><br/>
                Uso de la cancha<br/><br/>
                Equipo disponible:<br/>
                -Pelotas<br/>
                -Raquetas de padel<br/><br/>
                Horarios:<br/>
                9:00-19:00
                </p>
            </div>
            <div class="square">
                <p><b>Tenis</b><br/>
                Uso de la cancha<br/><br/>
                Equipo disponible:<br/>
                -Pelotas<br/>
                -Raquetas de tenis<br/><br/>
                Horarios:<br/>
                9:00-19:00
                </p>
            </div>
            <div class="square">
                <p><b>Voleybol</b><br/>
                Uso de la cancha<br/><br/>
                Equipo disponible:<br/>
                -Red<br/>
                -Balones<br/><br/>
                Horarios:<br/>
                9:00-19:00
                </p>
            </div>
            <div class="square">
                <p><b>Carpa</b><br/>
                Espacio de usos multiples<br/><br/>
                Equipo disponible:<br/>
                -Instrumentos<br/>
                -Pesas<br/><br/>
                Horarios:<br/>
                9:00-19:00
                </p>
            </div>
          </div>
    </section>
    <!-- Mas informacion Final -->



    <!-- Footer -->
    <footer>
        <%- include('./footer'); %>
    </footer>
   <script src="/views/js/more_info.js"></script>
</body>
</html>
