<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <%- include('./head'); %>

    <!-- Titulo -->
    <title>Más información</title>

    <!-- CSS utilizado solo para Mas informacion -->

</head>
<body>
    <!-- Navbar -->
    <header>
        <%- include('./navbar'); %>
    </header>

    
    <!-- Mas informacion Inicio -->

    <!-- Mas informacion Final -->



    <!-- Footer -->
    <footer>
        
    </footer>


    
</body>
</html>