<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <%- include('./head'); %>

    <!-- Titulo -->
    <title>Registrarse</title>

    <!-- CSS utilizado solo para Registrarse -->

</head>
<body>
    <!-- Navbar -->
    <header>
        <%- include('./navbar'); %>
    </header>

    
    <!-- Register Inicio -->

    <!-- Register Final -->



    <!-- Footer -->
    <footer>
        <%- include('./footer'); %>
    </footer>


    
</body>
</html>
